body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: normal;
    line-height: 1.6em;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.nameHighlight{
    color: orangered;
}
.halfWidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.halfWidth img{
    width: 100%;
}
.topBanner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat; 
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.linkButton{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 800;
}
.dreamArea{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.singleExperience{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 5px;
    height: 80%;
    background-color: #ffffff;
   
}
#fullStack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon, tomato);
    border-image-slice: 1;  
}
#juniorWeb{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    
}
.lastArea{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.lastArea h2{
    text-align: left;
}
.mainFooter p{
    text-align: center;
    background-color: tomato;
    color: white;
    font-size: 12px;
}